<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="DB_DSN" value="mysql:dbname=test_db;host=localhost" />
        <var name="HOST" value="localhost" />
        <var name="DB_USER" value="test_user" />
        <var name="DB_PASSWD" value="test123" />
        <var name="DB_DBNAME" value="test_db" />
    </php>
</phpunit>